### BASE FLASK PROJECT RELATED DIRECTORES ##############################################################################
# MUST MATCH 'docker-compose.yml' AND '.gitignore'
data_base_flask_project/
### END BASE FLASK PROJECT RELATED DIRECTORES ##########################################################################