<!DOCTYPE html>
<html>
<!--HEAD MUST BE INCLUDED IN EVERY HTML PAGE-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Second Page</title>
    <!--THIS IS HOW YOU REFERENCE STYLE SHEETS IN HTML-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    OPTIONAL - STYLE GOES HERE UNLESS IT IS FOUND IN CSS-->
    <style>

    </style>
</head>

<!--BODY MUST BE INCLUDED-->
<body>

<!--INCLUDING HEADER.HTML AS HEADER-->
{% include "header.html" %}

<div class="container">
    <h1 id="title">First Page!!</h1>
    <div class="row">
        <div class="col-6">
            <button id="ylw_btn" type="button" style="btn btn-primary btn-block" onclick="changeYellow()">Change Yellow!</button>
        </div>
        <div class="col-6">
            <button id="red_btn" type="button" style="btn btn-primary d-flex" onclick="changeRed()">Change Red!</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="enable_btn" type="button" style="btn btn-info btn-block" onclick="enable()">Enable</button>
        </div>
        <div class="col">
            <button id="disable_btn" type="submit" style="btn btn-secondary btn-block" onclick="disable()">Disable</button>
        </div>
    </div>
</div>

<script>
const title = document.getElementById("title");
const red_btn = document.getElementById("red_btn");
const ylw_btn = document.getElementById("ylw_btn");
const enable_btn = document.getElementById("enable_btn");
const disable_btn = document.getElementById("disable_btn");

function changeYellow() {
<!--    title.style.color = "red";-->
    title.style.backgroundColor = "yellow";
}

function changeRed() {
<!--    title.style.color = "yellow";-->
    title.style.backgroundColor = "red";
}

function enable() {
    red_btn.disabled = false;
    ylw_btn.disabled = false;
    enable_btn.disabled = true;
    disable_btn.disabled = false;
}

function disable() {
    red_btn.disabled = true;
    ylw_btn.disabled = true;
    enable_btn.disabled = false;
    disable_btn.disabled = true;
}


</script>

</body>

</html>