{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 id="title">First Page!!</h1>
    <div class="row" id="btn_row">
        <div class="col-6">
            <button id="ylw_btn" type="button" style="btn btn-primary btn-block" onclick="changeYellow()">Change
                Yellow!
            </button>
        </div>
        <div class="col-6">
            <button id="red_btn" type="button" style="btn btn-primary d-flex" onclick="changeRed()">Change Red!</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="enable_btn" type="button" style="btn btn-info btn-block" onclick="enable()">Enable</button>
        </div>
        <div class="col">
            <button id="disable_btn" type="submit" style="btn btn-default btn-block" onclick="disable()">Disable
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
const title = document.getElementById("title");
const red_btn = document.getElementById("red_btn");
const ylw_btn = document.getElementById("ylw_btn");
const enable_btn = document.getElementById("enable_btn");
const disable_btn = document.getElementById("disable_btn");

function changeYellow() {
<!--    title.style.color = "red";-->
    title.style.backgroundColor = "yellow";
}

function changeRed() {
<!--    title.style.color = "yellow";-->
    title.style.backgroundColor = "red";
}

function enable() {
    red_btn.disabled = false;
    ylw_btn.disabled = false;
    document.getElementById("btn_row").style.visibility = "visible";
    document.getElementById("btn_row").style.display = "block";
    enable_btn.disabled = true;
    disable_btn.disabled = false;
}

function disable() {
    red_btn.disabled = true;
    ylw_btn.disabled = true;
    document.getElementById("btn_row").style.visibility = "hidden";
    document.getElementById("btn_row").style.display = "none";
    enable_btn.disabled = false;
    disable_btn.disabled = true;
}
</script>
{% endblock %}